    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Single Product</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a routerLink="/">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li><a routerLink="/product-list">Top Products</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Single product</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x" *ngIf="product">
        <div class="row">
          <!-- Poduct Gallery-->
          <div class="col-md-6">
            <div class="product-gallery">
              <div class="gallery-wrapper">
                <div class="gallery-item video-btn text-center"><a href="#" data-toggle="tooltip" data-type="video" data-video="&lt;div class=&quot;wrapper&quot;&gt;&lt;div class=&quot;video-wrapper&quot;&gt;&lt;iframe class=&quot;pswp__video&quot; width=&quot;960&quot; height=&quot;640&quot; src=&quot;https://www.youtube.com/embed/CjNjcrQZtd8&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;&lt;/div&gt;&lt;/div&gt;" title="Watch video"></a></div>
              </div><span class="product-badge bg-danger">Sale</span>
              <owl-carousel
                [options]="{items: 1, dots: false, navigation: false, loop: true, URLhashListener: true}"
                [carouselClasses]="['owl-theme', 'row', 'sliding', 'product-carousel', 'owl-carousel', 'gallery-wrapper']">
                  <div class="gallery-item" data-hash="one"><a href="assets/img/shop/single/01.jpg" data-size="1000x667"><img src="assets/img/shop/single/01.jpg" alt="Product"></a></div>
                  <div class="gallery-item" data-hash="two"><a href="assets/img/shop/single/02.jpg" data-size="1000x667"><img src="assets/img/shop/single/02.jpg" alt="Product"></a></div>
                  <div class="gallery-item" data-hash="three"><a href="assets/img/shop/single/03.jpg" data-size="1000x667"><img src="assets/img/shop/single/03.jpg" alt="Product"></a></div>
                  <div class="gallery-item" data-hash="four"><a href="assets/img/shop/single/04.jpg" data-size="1000x667"><img src="assets/img/shop/single/04.jpg" alt="Product"></a></div>
                  <div class="gallery-item" data-hash="five"><a href="assets/img/shop/single/05.jpg" data-size="1000x667"><img src="assets/img/shop/single/05.jpg" alt="Product"></a></div>
              </owl-carousel>
              <!--<div class="product-carousel owl-carousel gallery-wrapper">
                <div class="gallery-item" data-hash="one"><a href="assets/img/shop/single/01.jpg" data-size="1000x667"><img src="assets/img/shop/single/01.jpg" alt="Product"></a></div>
                <div class="gallery-item" data-hash="two"><a href="assets/img/shop/single/02.jpg" data-size="1000x667"><img src="assets/img/shop/single/02.jpg" alt="Product"></a></div>
                <div class="gallery-item" data-hash="three"><a href="assets/img/shop/single/03.jpg" data-size="1000x667"><img src="assets/img/shop/single/03.jpg" alt="Product"></a></div>
                <div class="gallery-item" data-hash="four"><a href="assets/img/shop/single/04.jpg" data-size="1000x667"><img src="assets/img/shop/single/04.jpg" alt="Product"></a></div>
                <div class="gallery-item" data-hash="five"><a href="assets/img/shop/single/05.jpg" data-size="1000x667"><img src="assets/img/shop/single/05.jpg" alt="Product"></a></div>
              </div>-->
              <ul class="product-thumbnails">
                <li class="active"><a routerLink="./" fragment="one"><img src="assets/img/shop/single/th01.jpg" alt="Product"></a></li>
                <li><a routerLink="./" fragment="two"><img src="assets/img/shop/single/th02.jpg" alt="Product"></a></li>
                <li><a routerLink="./" fragment="three"><img src="assets/img/shop/single/th03.jpg" alt="Product"></a></li>
                <li><a routerLink="./" fragment="four"><img src="assets/img/shop/single/th04.jpg" alt="Product"></a></li>
                <li><a routerLink="./" fragment="five"><img src="assets/img/shop/single/th05.jpg" alt="Product"></a></li>
              </ul>
            </div>
          </div>
          <!-- Product Info-->
          <div class="col-md-6" >
            <div class="padding-top-2x mt-2 hidden-md-up"></div>
            <div class="sp-categories pb-3"><i class="icon-tag"></i><a href="#">Drones,</a><a href="#">Action cameras</a></div>
            <h2 class="mb-3">{{product.title}}</h2><span class="h3 d-block">
              <del class="text-muted">£{{product.price}}</del>&nbsp; £{{product.discountPrice}}</span>
            <p class="text-muted">{{product.description}} <a href='#details' class='scroll-to'>More info</a></p>
            <div class="row margin-top-1x">
              <div *ngFor="let eachOption of product.options" class="col-sm-6">
                <div class="form-group">
                  <label for="size">Choose {{eachOption.group}}</label>
                  <select class="form-control" id="size">
                    <option>{{eachOption.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <form [formGroup]="offerForm" (ngSubmit)="makeOffer()">
                <div class="row align-items-end pb-4">
                  <div class="col-sm-4">
                    <div class="form-group mb-0">
                      <label for="normal-rounded-input">Offer Price</label>
                      <input formControlName="price" class="form-control" type="text" id="normal-rounded-input" placeholder="£">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="pt-4 hidden-sm-up"></div>
                    <button type="submit" routerLink="/address-page" class="btn btn-primary btn-block m-0" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="Offer Successful!"><i class="icon-bag"></i>Make Offer</button>
                  </div>
                </div>
            </form>
            <div class="pt-1 mb-4"><span class="text-medium">SKU:</span> #21457832</div>
            <hr class="mb-2">
            <div class="d-flex flex-wrap justify-content-between">
              <div class="mt-2 mb-2">
              </div>
              <div class="mt-2 mb-2"><span class="text-muted">Share:&nbsp;&nbsp;</span>
                <div class="d-inline-block"><a class="social-button shape-rounded sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a><a class="social-button shape-rounded sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a><a class="social-button shape-rounded sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a><a class="social-button shape-rounded sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-product-details *ngIf="product" [product]="product"></app-product-details>

      <app-product-related></app-product-related>
      
      <br><br><br>