    <!-- Page Title-->
    <div class="page-title">
      <div class="container">
        <div class="column">
          <h1>My Offers</h1>
        </div>
        <div class="column">
          <ul class="breadcrumbs">
            <li><a href="index.html">Home</a>
            </li>
            <li class="separator">&nbsp;</li>
            <li><a href="account-orders.html">Account</a>
            </li>
            <li class="separator">&nbsp;</li>
            <li>My Offers</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
      <div class="row">
          <div class="col-lg-4">
              <app-account-nav></app-account-nav>
          </div>
        <div class="col-lg-8">
          <div class="padding-top-2x mt-2 hidden-lg-up"></div>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Product</th>
                  <th>Status</th>
                  <th>Time</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody *ngFor="let offer of offers">
                <tr>
                  <td><a class="navi-link" href="#" data-toggle="modal" data-target="#orderDetails">{{offer.offerID}}</a></td>
                  <td>{{offer.productName}}</td>
                  <td><span class="text-danger">{{offer.status}}</span></td>
                  <td>{{offer.timestamp}}</td>
                  <td><span>{{offer.amount}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
        </div>
      </div>
    </div>