<footer class="site-footer footer-light" style="background-image: url(assets/img/footer-bg-alt.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Contact Info-->
        <section class="widget">
          <h3 class="widget-title">Get In Touch With Us</h3>
          <p class="text-black">Phone: +44 (0) 1534 711234</p>
          <ul class="list-unstyled text-sm text-black">
            <li><span class="opacity-50">Monday-Friday:&nbsp;</span>9.00 am - 8.00 pm</li>
            <li><span class="opacity-50">Saturday:&nbsp;</span>10.00 am - 6.00 pm</li>
          </ul>
          <p><a class="" href="#">support@tagmove.co.uk</a></p><a class="social-button shape-circle sb-facebook" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus" href="#"><i class="socicon-googleplus"></i></a>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- About Us-->
        <section class="widget widget-links">
          <h3 class="widget-title">About Us</h3>
          <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Tagmove</a></li>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Our Blog</a></li>
            <li><a href="#">Seed fund</a></li>
          </ul>
        </section>
      </div>
      <div class="col-lg-6">
        <!-- Subscription-->
        <section class="widget">
          <h3 class="widget-title">Be Informed</h3>
          <form class="row" action="//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=1194bb7544" method="post" target="_blank" novalidate>
            <div class="col-sm-9">
              <div class="input-group">
                <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail"><span class="input-group-addon"><i class="icon-mail"></i></span>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
              </div>
              <p class="form-text text-sm text-black opacity-50 pt-2">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</p>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-primary btn-block mt-0" type="submit">Subscribe</button>
            </div>
          </form>
          <div class="pt-3"><img class="d-block" style="width: 324px;" alt="Cerdit Cards" src="assets/img/credit-cards-footer.png"></div>
        </section>
      </div>
    </div>
    <!-- Copyright-->
    <p class="footer-copyright">© Tagmove 2018</p>
  </div>
</footer>