  <aside class="user-info-wrapper">
    <div class="user-cover" style="background-image: url(assets/img/account/user-cover-img.jpg);">
    </div>
    <div class="user-info">
      <div class="user-data">
        <h4 class="h5">Daniel Adams</h4><span>Joined February 06, 2017</span>
      </div>
    </div>
  </aside>

  <nav class="list-group">
    <a class="list-group-item with-badge" routerLinkActive="active" routerLink="/account-offers"><i class="icon-shopping-bag"></i>Open Offers<span class="badge badge-default badge-pill">6</span></a>
    <a class="list-group-item" routerLinkActive="active" routerLink="/account-orders"><i class="icon-shopping-bag"></i>Orders</a>
    <a class="list-group-item" routerLinkActive="active" routerLink="/account-settings"><i class="icon-user"></i>Details</a>
    <a class="list-group-item" routerLink="/login"><i class="icon-user"></i>Sign Out</a>
  </nav>
