    <!-- Page Title-->
    <div class="page-title">
        <div class="container">
          <div class="column">
            <h1>Checkout</h1>
          </div>
          <div class="column">
            <ul class="breadcrumbs">
              <li><a href="index.html">Home</a>
              </li>
              <li class="separator">&nbsp;</li>
              <li>Checkout</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          <!-- Checkout Adress-->
          <div class="col-xl-9 col-lg-8">
            <div class="steps flex-sm-nowrap mb-5"><a class="step" routerLink="/address-page">
                <h4 class="step-title"><i class="icon-check-circle"></i>1. Address</h4></a><a class="step" routerLink="/shipping-page">
                <h4 class="step-title"><i class="icon-check-circle"></i>2. Shipping</h4></a><a class="step" routerLink="/payment-page">
                <h4 class="step-title"><i class="icon-check-circle"></i>3. Payment</h4></a><a class="step active">
                <h4 class="step-title">4. Review</h4></a></div>
            <h4 class="padding-bottom-1x">Review Your Order</h4>
            <div class="table-responsive shopping-cart">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th class="text-center">Subtotal</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="assets/img/shop/cart/01.jpg" alt="Product"></a>
                        <div class="product-info">
                          <h4 class="product-title"><a href="shop-single.html">Canon EOS M50 Mirrorless Camera<small>x 1</small></a></h4><span><em>Type:</em> Mirrorless</span><span><em>Color:</em> Black</span>
                        </div>
                      </div>
                    </td>
                    <td class="text-center text-lg">$910.00</td>
                    <td class="text-center"><a class="btn btn-outline-primary btn-sm" href="cart.html">Edit</a></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="assets/img/shop/cart/02.jpg" alt="Product"></a>
                        <div class="product-info">
                          <h4 class="product-title"><a href="shop-single.html">Apple iPhone X 256 GB Space Gray<small>x 1</small></a></h4><span><em>Memory:</em> 256 GB</span><span><em>Color:</em> Space Gray</span>
                        </div>
                      </div>
                    </td>
                    <td class="text-center text-lg">$1,450.00</td>
                    <td class="text-center"><a class="btn btn-outline-primary btn-sm" href="cart.html">Edit</a></td>
                  </tr>
                  <tr>
                    <td>
                      <div class="product-item"><a class="product-thumb" href="shop-single.html"><img src="assets/img/shop/cart/03.jpg" alt="Product"></a>
                        <div class="product-info">
                          <h4 class="product-title"><a href="shop-single.html">HP LaserJet Pro Laser Printer<small>x 1</small></a></h4><span><em>Type:</em> Laser</span><span><em>Color:</em> White</span>
                        </div>
                      </div>
                    </td>
                    <td class="text-center text-lg">$188.50</td>
                    <td class="text-center"><a class="btn btn-outline-primary btn-sm" href="cart.html">Edit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="shopping-cart-footer">
              <div class="column"></div>
              <div class="column text-lg"><span class="text-muted">Subtotal:&nbsp; </span><span class="text-gray-dark">$2,548.50</span></div>
            </div>
            <div class="row padding-top-1x mt-3">
              <div class="col-sm-6">
                <h5>Shipping to:</h5>
                <ul class="list-unstyled">
                  <li><span class="text-muted">Client:&nbsp; </span>Daniel Adams</li>
                  <li><span class="text-muted">Address:&nbsp; </span>44 Shirley Ave. West Chicago, IL 60185, USA</li>
                  <li><span class="text-muted">Phone:&nbsp; </span>+1(808) 764 554 330</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h5>Payment method:</h5>
                <ul class="list-unstyled">
                  <li><span class="text-muted">Credit Card:&nbsp; </span>**** **** **** 5300</li>
                </ul>
              </div>
            </div>
            <div class="d-flex justify-content-between paddin-top-1x mt-4">
              <a class="btn btn-outline-secondary" routerLink="/payment-page"><i class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Back</span></a>
              <a class="btn btn-primary" routerLink="/complete-page">Complete Order</a>
            </div>
          </div>
          <!-- Sidebar          -->
          <div class="col-xl-3 col-lg-4">
            <aside class="sidebar">
              <div class="padding-top-2x hidden-lg-up"></div>
              <!-- Order Summary Widget-->
              <section class="widget widget-order-summary">
                <h3 class="widget-title">Order Summary</h3>
                <table class="table">
                  <tr>
                    <td>Cart Subtotal:</td>
                    <td class="text-gray-dark">$2,548.50</td>
                  </tr>
                  <tr>
                    <td>Shipping:</td>
                    <td class="text-gray-dark">$26.50</td>
                  </tr>
                  <tr>
                    <td>Estimated tax:</td>
                    <td class="text-gray-dark">$9.72</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="text-lg text-gray-dark">$2,584.72</td>
                  </tr>
                </table>
              </section>
              <!-- Featured Products Widget-->
              <section class="widget widget-featured-products">
                <h3 class="widget-title">Recently Viewed</h3>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="assets/img/shop/widget/01.jpg" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">GoPro Hero4 Silver</a></h4><span class="entry-meta">$287.99</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="assets/img/shop/widget/02.jpg" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">Puro Sound Labs BT2200</a></h4><span class="entry-meta">$95.99</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="assets/img/shop/widget/03.jpg" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">HP OfficeJet Pro 8710</a></h4><span class="entry-meta">$89.70</span>
                  </div>
                </div>
                <!-- Entry-->
                <div class="entry pb-2">
                  <div class="entry-thumb"><a href="shop-single.html"><img src="assets/img/shop/widget/05.jpg" alt="Product"></a></div>
                  <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">iPhone X 256 GB Space Gray</a></h4><span class="entry-meta">$1,450.00</span>
                  </div>
                </div>
              </section>
              <!-- Promo Banner--><a class="card border-0 bg-secondary" href="shop-grid-ls.html">
                <div class="card-body"><span class="d-block text-lg text-thin mb-2">Limited Time Deals</span>
                  <h3>Surface Pro 4</h3>
                  <p class="d-inline-block bg-warning text-white">&nbsp;&nbsp;Shop Now&nbsp;<i class="icon-chevron-right d-inline-block align-middle"></i>&nbsp;</p>
                </div><img class="d-block mx-auto" src="assets/img/shop/widget/promo.jpg" alt="Surface Pro"></a>
            </aside>
          </div>
        </div>
      </div>